<%- include ("partials/header") -%>
    <script src="/js/coursetab.js"></script>
    <h1 style="padding: 2% 0 0 2%">
        <%= welcomeMessage %>
    </h1><br>

    <% if(faculty.isAdvisor) { %>
        <nav class="navbar navbar-expand-lg" id="myclass"
            style="height:35px; width: 140px; margin-left: 200px; font-size:20px;background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
            <a href = "myclass" id = "my_class" class="navbar-brand" href="#" style="color: beige; margin-left:10%; font-size:20px; font: width 5%;">My Class</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <i class="fa fa-angle-down"
                style="width:50px; padding-top:15px; margin-left:20px; height:50px;color:white; float:left;"></i>
        </nav>
    <% } else if(faculty.isBC) { %>
        <nav class="navbar navbar-expand-lg" id="mybatch"
            style="height:35px; width: 400px; font-size:20px;background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
            <a href="myclass" id="my_class" class="navbar-brand" href="#"
                style="color: beige; margin-left:10%; font-size:20px; font: width 5%;">My Batch</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <i class="fa fa-angle-down"
                style="width:50px; padding-top:15px; margin-left:20px; height:50px;color:white; float:left;"></i>
        </nav>
    <% } else if(faculty.isHOD) { %>
        <nav class="navbar navbar-expand-lg" id="myhod"
            style="height:35px; width: 600px; font-size:20px;background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
            <a href="myclass" id="my_class" class="navbar-brand" href="#"
                style="color: beige; margin-left:10%; font-size:20px; font: width 5%;">My Department</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <i class="fa fa-angle-down"
                style="width:50px; padding-top:15px; margin-left:20px; height:50px;color:white; float:left;"></i>
        </nav>
    <% } %>
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" id="your-courses" data-toggle="modal" data-target="#exampleModal" style="margin-left: 20px;">
        Your Courses
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Your Courses</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div id="course-text" class="disp-text" style="margin-left: 0%;width:450px;">
                    <nav class="navbar navbar-expand-lg" id="search-list" style="background-color: #45b1ef">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" style="width:300px;" aria-label="Search" />
                                <button type="button" id="search" class="btn btn-light" type="submit">
                                    Search
                                </button>
                            </form>
                        </div>
                    </nav>
                    <div>
                        <% if(courselen>=1) { %>
                            <ul id="course-list" style="list-style: none; margin-left:0px;">
                                <% for(i=0;i < courses.length;i++) { %>
                                    <button type="button" class="list-group-item list-group-item-action"
                                        style="width:400px;margin-top:20px;margin-left:0px;border: #45b1ef;" id="<%= i %>" class="course-name" onclick="updatecoursetab(this);" data-dismiss="modal">
                                        <%= courses[i]['course_id'] %>
                                            <%= courses[i]['batch'] %>
                                                <%= courses[i]['dept'] %>
                                                    <%= courses[i]['section'] %>
                                    </button>
                                    <% } %>
        
                            </ul>
                            <% } else { %>
                                <h6>No Results found</h6>
                                <% } %>
                    </div>
                </div>
        
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
        </div>
    </div>

    <div id="disp-content">
        <div id="course-text" class="disp-text" style="height: 670px;">
            <nav class="navbar navbar-expand-lg" id="search-list" style="
            background-image: linear-gradient(
                90deg,
                #05a7e7,
                #2a26ff
            );">
                <a class="navbar-brand" href="#" style="color: beige; margin-left: 18%"><strong>Announcements and Circulars</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div>
                ...
            </div>
        </div>

        <div id="fn-text" class="disp-text" style="height: 670px;">
            <nav class="navbar navbar-expand-lg" id="search-list" style="
                        background-image: linear-gradient(
                            90deg,
                            #05a7e7,
                            #2a26ff
                        );
                    ">
                <a class="navbar-brand" href="#" style="color: beige; margin-left: 40%"><strong>Course
                        Details</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <br>
            <h5 id="course-selected" style="background-color: transparent; margin-left:40%;color:black;">
                <%= coursesel %>
            </h5>
            <br>
            <div class="row mar-left-10">
                <div class="tab">
                    <img src="/images/list.png" width="50px" height="50px" />
                    <br />
                    <a href="reg_students" id="reg-student">
                        <h6><strong>Registered Students</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/attendance.png" width="50px" height="50px" />
                    <br />
                    <a href="attendance" id="attendance">
                        <h6><strong>Attendance</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/course_info.png" width="50px" height="50px" />
                    <br />
                    <a href="courseinfo" id="courseinfo">
                        <h6><strong>Course information</strong></h6>
                    </a>
                </div>
            </div>
            <div class="row mar-left-10">
                <div class="tab">
                    <img src="/images/res.png" width="50px" height="50px" />
                    <br />
                    <a href="resources" id="resources">
                        <h6><strong>Resources</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/test.png" width="50px" height="50px" />
                    <br />
                    <a href="tests-and-assignments" id="tests">
                        <h6><strong>Tests & Assignments</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/grade.png" width="50px" height="50px" />
                    <br />
                    <a href="mark_grade" id="grade">
                        <h6><strong>Marks and Grades</strong></h6>
                    </a>
                </div>
            </div>
            <div class="row mar-left-10">
                <div class="tab">
                    <img src="/images/res.png" width="50px" height="50px" />
                    <br />
                    <a href="feedback" id="feedback">
                        <h6><strong>Student's Feedback</strong></h6>
                    </a>
                </div>
                
            </div>
        </div>
    </div>

    <%- include ("partials/footer") -%>