<%- include ("partials/header") -%>
    <script src="/js/coursetab.js"></script>
    <h1 style="padding: 2% 0 0 0">
        <%= welcomeMessage %>
    </h1><br>
    <div class="row">
        <div class="col-lg-3">
            <% if(faculty.isAdvisor) { %>
                <a href="myclass" id="my_class" style="width: 60%;" class="btn btn-info">My Class</a><br><br>

                <% } else if(faculty.isBC) { %>
                    <a href="myclass" id="my_class" style="width: 60%;" class="btn btn-info">My Batch</a><br><br>

                    <% } else if(faculty.isHOD) { %>
                        <a href="myclass" id="my_class" style="width: 60%;" class="btn btn-info">My
                            Department</a><br><br>
                        <% } %>

                            <!-- Button trigger modal -->
                            <button class="btn btn-primary" id="your-courses" style="width: 60%;" data-toggle="modal"
                                data-target="#exampleModal">
                                My Courses
                            </button>
        </div>
        <div class="col-lg-3">
            <a href="#time-table" class="btn btn-info" style="width: 60%;">My Timetable</a>
            <br><br>
        </div>
    </div>
    <br><br>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Your Courses</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="course-text" class="disp-text" style="margin-left: 0%;width:450px;">
                        <nav class="navbar navbar-expand-lg" id="search-list" style="background-color: #45b1ef">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                        style="width:300px;" aria-label="Search" />
                                    <button type="button" id="search" class="btn btn-light" type="submit">
                                        Search
                                    </button>
                                </form>
                            </div>
                        </nav>
                        <div>
                            <% if(courselen>=1) { %>
                                <ul id="course-list" style="list-style: none; margin-left:0px;">
                                    <% for(i=0;i < courses.length;i++) { %>
                                        <button type="button" class="list-group-item list-group-item-action"
                                            style="width:400px;margin-top:20px;margin-left:0px;border: #45b1ef;"
                                            id="<%= i %>" class="course-name" onclick="updatecoursetab(this);"
                                            data-dismiss="modal">
                                            <%= courses[i]['course_id'] %>
                                                <%= courses[i]['batch'] %>
                                                    <%= courses[i]['dept'] %>
                                                        <%= courses[i]['section'] %>
                                        </button>
                                        <% } %>

                                </ul>
                                <% } else { %>
                                    <h6>No Results found</h6>
                                    <% } %>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div id="course-text" class="col-lg-4 disp-text-home" style="height: 670px;">
            <nav class="navbar navbar-expand-lg" id="search-list" style="
                background-image: linear-gradient(
                    90deg,
                    #05a7e7,
                    #2a26ff
                );">
                <a class="navbar-brand" href="#" style="color: beige;"><strong>Announcements and
                        Circulars</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div>
                ...
            </div>
        </div>

        <div id="fn-text-home" class="col-lg-7 disp-text-home" style="height: 670px;">
            <nav class="navbar navbar-expand-lg" id="search-list" style="
                            background-image: linear-gradient(
                                90deg,
                                #05a7e7,
                                #2a26ff
                            );
                        ">
                <a class="navbar-brand" href="#" style="color: beige; margin-left: 40%"><strong>Course
                        Details</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <br>
            <h5 id="course-selected" style="background-color: transparent; margin-left:40%;color:black;">
                <%= coursesel %>
            </h5>
            <br>
            <div class="row mar-left-10">
                <div class="tab">
                    <img src="/images/list.png" width="50px" height="50px" />
                    <br />
                    <a href="reg_students" id="reg-student">
                        <h6><strong>Registered Students</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/attendance.png" width="50px" height="50px" />
                    <br />
                    <a href="attendance" id="attendance">
                        <h6><strong>Attendance</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/course_info.png" width="50px" height="50px" />
                    <br />
                    <a href="courseinfo" id="courseinfo">
                        <h6><strong>Course information</strong></h6>
                    </a>
                </div>
            </div>
            <div class="row mar-left-10">
                <div class="tab">
                    <img src="/images/res.png" width="50px" height="50px" />
                    <br />
                    <a href="resources" id="resources">
                        <h6><strong>Resources</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/test.png" width="50px" height="50px" />
                    <br />
                    <a href="tests-and-assignments" id="tests">
                        <h6><strong>Tests & Assignments</strong></h6>
                    </a>
                </div>
                <div class="tab">
                    <img src="/images/grade.png" width="50px" height="50px" />
                    <br />
                    <a href="mark_grade" id="grade">
                        <h6><strong>Marks and Grades</strong></h6>
                    </a>
                </div>
            </div>
            <div class="row mar-left-10">
                <div class="tab">
                    <img src="/images/res.png" width="50px" height="50px" />
                    <br />
                    <a href="feedback" id="feedback">
                        <h6><strong>Student's Feedback</strong></h6>
                    </a>
                </div>

            </div>
        </div>

    </div>

    <br><br>

    <section id="time-table" style="margin-left: 1%;">
        <h2>Timetable — Even semester 2020-21</h2>
        <br>
        <div class="row" style="margin-left: 1%;">
            <div class="col-lg-11 time-table-div">
                <img height="600" style="width: 100%;" src="<%= timetable_link %> ">

            </div>
        </div>

    </section>


    <br><br><br>

    <%- include ("partials/footer") -%>