<%- include ("partials/header") -%>

    <div id="content-header" style="margin-left: 20px;width:300px;">
        <h6><%= courseid %></h6>
        
        <button class="btn btn-secondary" type="button" style="background-image:linear-gradient(90deg,#05a7e7,#2a26ff);margin-top: 30px;margin-left:20px;">
            Marks and Grades
          </button>


        <div class="dropdown" style="margin-top: 30px;margin-left:20px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="background-image:linear-gradient(90deg,#05a7e7,#2a26ff);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Enter/Edit Marks
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="calculate_CA">Calculate CA</a>
              <% if(ismentor==true) { %>
                <a class="dropdown-item" href="view_edit_cutoff">View/Edit Grade Cutoff</a>
              <% } else { %>
                <a class="dropdown-item" href="view_cutoff">View Grade Cutoff</a>
              <% } %>
              <a class="dropdown-item" href="calculate_grade">Calculate Grades</a>
              
              
            </div>
        </div>
    </div>

    <div style="margin-left: 40px; margin-top:30px;width:1200px;background-color: #45b1ef;">
        <nav class="navbar navbar-expand-lg" id="search-list">
            <div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0" action="/add_assessment" method="post">
                        <select id="inputTestType" style="display: float; margin-left:100px;width:300px;" name="testtype" id="testtype" class="form-control">
                            <option selected>Choose Assessment Type..</option>
                            <option>Quiz</option>
                            <option>Assignment</option>
                            <option>Periodical</option>
                            <option>Tutorial</option>
                        </select>
                        <input class="form-control mr-sm-2" style="display: float; margin-left:30px;width:200px;" id="testnum" name="testnum" type="number" placeholder="Test Number" aria-label="testnum" />
                        <input class="form-control mr-sm-2" style="display: float; margin-left:30px;width:200px;" id="testmark" name="testmark" type="number" placeholder="Test Mark" aria-label="testnum" />
                        <button id="addtest" class="btn btn-light" type="submit" style="display: float; margin-left:10px;">
                            Add test
                        </button>
                    </form>
                </div>
            </div>
            <br />
            
        </nav>
        <h6 style="margin-left: 150px; color:white;"><%= addmsg %></h6>
    </div>
    <div id="disp-content">
        <div id="course-text" class="disp-text" style="width: 1200px; margin-left:40px;height:540px;">

            <nav class="navbar navbar-expand-lg" id="search-list" style="background-color:#45b1ef;">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="form-inline my-2 my-lg-0" action="/get_ass_marks" method="post">
                        <select id="inputTest" style="display: float; margin-left:100px;width:300px;" name="inputTest" id="inputTest" class="form-control">
                            <% for(var i=0;i < asslist.length;i++) { %>
                                <% console.log(currass); %>
                                <% console.log(asslist[i]); %>
                                <% if(asslist[i].localeCompare(currass)==0) { %>
                                    <% console.log(currass); %>
                                    <option selected> <%= asslist[i] %></option>
                                <% } else { %>
                                    <option> <%= asslist[i] %></option>
                                <% } %>
                            <% } %>
                        </select>
                        <button id="getmarks" class="btn btn-light" type="submit" style="display: float; margin-left:10px;">
                            Get Marks
                        </button>
                        <input type="text" class="form-control score" style="display: float; margin-left:150px;" id="currass" placeholder="<%= currass %>" readonly>
                    </form>
                    <!-- <form action="/update_marks" method="post"> -->
                    
                </div>
            </nav>
            <div class="list-group" id="mark-list" style="overflow: scroll;height:460px;">
                <% for(var i=0;i < stud_marks.length;i++) { %>
                    <li class="list-group-item">
                        <form action="/update_marks" method="post">
                            
                            <input type="text" class="form-control score" style="float:left;margin-left:20px;width:200px;" id="roll_number" name="roll_number" value="<%= stud_marks[i][0] %>" readonly>
                            <input type="text" class="form-control score" style="float:left;margin-left:20px;width:300px;" id="assignment" name="assignment" value="<%= currass %>" readonly>
                            <input type="number" class="form-control score" style="margin-left:10px;" id="<%= stud_marks[i][0] %>" name="marks" value="<%= stud_marks[i][1] %>">
                            <button id="update" class="btn btn-primary" type="submit" style="display:float; margin-left:15%;margin-bottom:10px;">
                                Update
                            </button>    
                        </form>
                    </li>
                <% } %>
            </div>
          
            <h6 style="margin-left: 35%;background-color:transparent;"><%= update %></h6>
           
        </div>
            
       

    </div>
    

    <%- include ("partials/footer") -%>