<%- include ("partials/header") -%>
    <script src="/js/myclass_studentinfo.js"></script>
    <div id="content-header" style="margin-left: 20px;width:300px;">
        <h6><%= classid %></h6>
        <nav class="navbar navbar-expand-lg" id="search-list"
            style="height:35px; font-size:20px;background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
            <a class="navbar-brand" href="#"
                style="color: beige; margin-left:10%; font-size:20px; font: width 5%;">View Students</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <i class="fa fa-angle-down"
                style="width:50px; padding-top:15px; margin-left:20px; height:50px;color:white; float:left;"></i>
        </nav>
    </div>

    <% if(status) { %>
        <div id="disp-content">
            <div id="course-text" class="disp-text" style="height: 585px;">

                <nav class="navbar navbar-expand-lg" id="search-list" style="background-color: #45b1ef">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                aria-label="Search" />
                            <button type="button" id="search" class="btn btn-light" type="submit">
                                Search
                            </button>
                        </form>
                    </div>
                </nav>
                <div class="list-group" style="overflow: scroll;height:515px;">

                    <% for (var i=0; i < liststud.length; i++ ){ %>
                        <button type="button" id="<%= liststud[i].roll_number %>" class="list-group-item list-group-item-action" onclick="getInfo(this);">
                            <%=liststud[i].roll_number %>
                        </button>
                        <% console.log(liststud[i]); %>
                    <% } %>

                </div>

            </div>


            <div id="fn-text" class="disp-text" style="height: 585px;">
                <nav class="navbar navbar-expand-lg" id="search-list"
                    style="background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
                    <a class="navbar-brand" href="#" style="color: beige; margin-left:40%;"><strong>Student
                            Details</strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>

                <div class="row-det-mc" id="student-det">
                    <div class="row-det-1-mc" id="student-pic" style="float: left;">
                        <img src="/images/boy_avatar.png" width="50px" height="50px" id="stud-img">
                    </div>
                    <div class="row-det-1-mc" id="basic-det" style="overflow: scroll; float: left;">
                        <ul class="list-group">
                            <li class="list-group-item det" id="stud-rollno">Roll Number:</li>
                            <li class="list-group-item det" id="stud-enrolno">Enrolment Number:</li>
                            <li class="list-group-item det" id="stud-name">Name:</li>
                            <li class="list-group-item det" id="stud-gender">Gender:</li>
                            <li class="list-group-item det" id="stud-clg-id">College Email:</li>
                            <li class="list-group-item det" id="stud-per-id">Personal Email:</li>
                            <li class="list-group-item det" id="stud-phno">Phone Number:</li>
                            <li class="list-group-item det" id="stud-hostel">Hostel:</li>
                            <li class="list-group-item det" id="stud-room">Room:</li>
                            <li class="list-group-item det" id="stud-nat">Nationality:</li>
                            <li class="list-group-item det" id="stud-mt">Mother Tongue:</li>
                            <li class="list-group-item det" id="stud-commaddr">Communication Address:</li>
                            <li class="list-group-item det" id="stud-peraddr">Permanent Address:</li>
                            <li class="list-group-item det" id="stud-dob">Date of Birth:</li>
                            <li class="list-group-item det" id="stud-bloodgrp">Blood Group:</li>
                        </ul>
                    </div>
                </div>

                <nav class="navbar navbar-expand-lg" id="search-list" style="background-image:linear-gradient(90deg,#05a7e7,#2a26ff);">
                    <a class="navbar-brand" href="#" style="color: beige; margin-left:40%;"><strong>Parent
                            Details</strong></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>

                <div class="row-det-mc" id="parent-det">
                    <div class="row-det-2-mc" id="basic-det" style="overflow: scroll; float: left;">
                        <ul class="list-group">
                            <li class="list-group-item det" id="parent-rel">Relation:</li>
                            <li class="list-group-item det" id="parent-name">Name:</li>
                            <li class="list-group-item det" id="parent-phno">Phone Number:</li>
                            <li class="list-group-item det" id="parent-id">Email:</li>
                        </ul>
                    </div>
                </div>

                <!-- <div class="row-det-mc" id="student-attendance"
                    style="width: 100%;height:50px;background-color: #00c4cc;color:white;">
                    <h5>Attendance:</h5>
                    <p><strong id="attendance-val">..</strong></p>
                </div>
                <div class="row-det-mc" id="student-acdemics">
                    <div class="row-det-1-mc" id="test-det" style="overflow: scroll;height:206px;">
                        <ul class="list-group" id="quiz">
                            <li class="list-group-item-mc active" style="text-align: center;">Quizzes</li>

                        </ul>

                        <ul class="list-group" id="periodical">
                            <li class="list-group-item-mc active" style="text-align: center;">Periodicals</li>

                        </ul>

                        <ul class="list-group" id="assignment">
                            <li class="list-group-item-mc active" style="text-align: center;">Assignments</li>

                        </ul>
                    </div>
                </div> -->

            </div>
        </div>
    <% } else{ %>
        <h6>No data found</h6>
    <% } %>


<%- include ("partials/footer") -%>