<%- include ("partials/header") -%>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

    <div id="content-header" style="margin-left: 20px;width:300px;">
        <h6><%= courseid %></h6>
        
        <button class="btn btn-secondary" type="button" style="background-image:linear-gradient(90deg,#05a7e7,#2a26ff);margin-top: 30px;margin-left:20px;">
            Marks and Grades
          </button>


        <div class="dropdown" style="margin-top: 30px;margin-left:20px;">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" style="background-image:linear-gradient(90deg,#05a7e7,#2a26ff);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View Grade Cutoff
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="mark_grade">Enter/Edit Marks</a>
              <a class="dropdown-item" href="calculate_CA">Calculate CA</a>
              <a class="dropdown-item" href="calculate_grade">Calculate Grades</a>  
            </div>
        </div>
    </div>
    
    <div id="disp-content">
        <div id="course-text" class="disp-text" style="width: 1000px; margin-left:20%;height:490px;">
            <table class="table" style="text-align: center;border-radius:5px;">
                <thead style="background-color:#45b1ef;color:white;">
                    <tr>
                    <th scope="col" id="fil-type-disp">Filter Type</th>
                    <th scope="col">
                        <button id="choose-filter" class="btn btn-light" style="color:#45b1ef;" data-toggle="modal" data-target="#exampleModal">
                            Choose Filter
                        </button>
                    </th>
                    <th scope="col">
                        <button id="clear-filter" class="btn btn-light" style="color:#45b1ef;" onclick="nofilter();">
                            Clear Filter
                        </button>
                    </th>
                    </tr>
                </thead>
            </table>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            
                            <div class="form-group">
                              <label for="filter-type">Choose Filter Type</label>
                              <select class="form-control" id="filter-type" onchange="changefilter(this);">
                                <option value="0">marks >= <em>low</em></option>
                                <option value="1">marks > <em>low</em></option>
                                <option value="2">marks <= <em>high</em></option>
                                <option value="3">marks < <em>high</em></option>
                                <option value="4"><em>low</em> <= marks <= <em>high</em></option>
                                <option value="5"><em>low</em> <= marks < <em>high</em></option>
                                <option value="6"><em>low</em> < marks <= <em>high</em></option>
                                <option value="7"><em>low</em> < marks < <em>high</em></option>
                              </select>
                            </div>

                            <div class="form-group" id="lower-bound-grp">
                                <label for="lower-bound">Lower Bound: </label>
                                <input type="number" class="form-control" id="lower-bound">
                            </div>

                            <div class="form-group" id="upper-bound-grp" style="display: none;">
                                <label for="upper-bound">Upper Bound: </label>
                                <input type="number" class="form-control" id="upper-bound">
                            </div>
                            
                          </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="applyfilter();">Apply Filter</button>
                    </div>
                </div>
                </div>
            </div>
            <div id="visual-info" style="height:435px;margin-top:0px;">
               <div id="visual" style="float: left;width:680px;">
                   <canvas id="visual-graph" style="max-width: 675px;"></canvas>
                   <h6 id="graph-status" style="padding-top: 15%;background-color:transparent;margin-left:20%;">Graph not available</h6>
               </div> 
               
               <div id="info" style="float: left;">
                <ul class="list-group">
                    <li class="list-group-item" style="height: 100px;width:292px;">
                        Maximum Mark: 
                        <br>
                        <strong id="maxm"><%= maxmark %></strong>
                    </li>
                    <li class="list-group-item" style="height: 100px;width:292px;">
                        Minimum Mark: 
                        <br>
                        <strong id="minm"><%= minmark %></strong>
                    </li>
                    <li class="list-group-item" style="height: 100px;width:292px;">
                        Average Mark: 
                        <br>
                        <strong id="avgm"><%= avgmark %></strong>
                    </li>
                    <li class="list-group-item" style="height: 100px;width:292px;">
                        Total Number of Students Mark: 
                        <br>
                        <strong id="totalstud"><%= totalstud %></strong>
                    </li>
                 </ul>
               </div>

               
               
            </div>
           
        </div>
    </div>
    <script>
        var myChart;
        var ctx = document.getElementById("visual-graph").getContext('2d');
        document.getElementById("graph-status").style.display="none";
        if(myChart)
        {
            myChart.destroy();
        }
        var samp = '<%- JSON.stringify(totalmark) -%>';
        obj=JSON.parse(samp);
        console.log(obj);
        marks=[];
        for(i=0;i<obj.length;i++)
        {
            marks.push(obj[i]['total']);
        }

        var dataValues = marks;
        var dataLabels = [];
        for(i=0;i<dataValues.length;i++)
        dataLabels.push('');
        var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: dataLabels,
            datasets: [{
            label: 'Students Marks',
            data: dataValues,
            backgroundColor: '#2a26ff',
            }]
        },
        options: {
            scales: {
            xAxes: [{
                display: false,
                barPercentage: 1.1
                
            }, {
                display: true,
                ticks: {
                    autoSkip: false,
                }
            }],
            yAxes: [{
                ticks: {
                beginAtZero:true
                }
            }]
            }
        }
        });    
     </script>
   
    <div id="disp-content">
        <div id="course-text" class="disp-text" style="width: 460px; margin-left:38%;height:500px;">

            
            <div class="list-group" id="mark-list" style="height:420px;">
                <table class="table" style="text-align: center;">
                    <thead style="background-color:#45b1ef;color:white;">
                      <tr>
                        <th scope="col">Grade</th>
                        <th scope="col">Cutoff Mark</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(i=0; i < grade_cutoff.length ; i++) { %>
                        <tr>
                            <th scope="row"><%= grade_cutoff[i]['grade'] %></th>
                            <td class="tdclass">
                                <input type="number" class="form-control score" id="<%= grade_cutoff[i]['grade'] %>" name="marks" value="<%= grade_cutoff[i]['marks'] %>">
                                
                            </td>
                            
                        </tr>
                      <% } %>
                    </tbody>
                  </table>
            </div>
          
            
           
        </div>
            
        <button class="btn btn-secondary" type="button" style="background-color:#45b1ef; border-color: #45b1ef;margin-top: 2px;margin-left:49%;" onclick="updatecutoff();">
            Update Cutoff
        </button>

        <div class="modal hide fade" id="errormodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Status</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" id="err-content">
                  ...
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  
                </div>
              </div>
            </div>
          </div>

    </div>
    <script src="/js/filter.js"></script>


    <%- include ("partials/footer") -%>